# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE
.idea/
.vscode/

# Flutter
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Android
flutter_app/android/.gradle/
flutter_app/android/app/build/

# iOS
flutter_app/ios/Pods/

# Dataset
appdataset/

# Temporary
objects.txt
pack.txt
flutter_app_old/
.venv/